@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.bodyRegister {
    background: linear-gradient(rgba(29, 30, 35, 0.3),
            rgba(29, 30, 35, 0.3)),
        url(imagesRegisterUsers/derechos-trabajadores-turnos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


.formularioRegisterPrincipal {
    padding: 50px;
    height: 550px;
    position: static;
}

.bg-color {
    background-color: #24272E;
    opacity: 0.9;
}

.btnOrigin {
    background: linear-gradient(90deg,
            rgba(245, 99, 72, 1) 0%,
            rgba(245, 140, 32, 1) 100%);
    width: 15rem;
}

input::placeholder {
    color: gainsboro !important;
}
img {
    max-width: 100%;
    width: 100%;
    display: block;
    /* opcional */
    -o-object-fit: cover;
    object-fit: cover;
    /* opcional */
    -o-object-position: center center;
    object-position: center center;
  }