<!-- formulario-edicion-cliente.html -->
<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editar Cliente</title>
</head>
<body>
    <h1>Editar Cliente</h1>
    <form id="clientForm" action="/client/modify" method="post" th:object="${clientUser}">
        <input type="hidden" th:field="*{id}" />
        <input type="text" th:field="*{name}" placeholder="Nombre"/>
        <input type="text" th:field="*{email}" placeholder="Email"/>
        <input type="password" th:field="*{password}" placeholder="Contraseña"/>
        <input type="submit" value="Guardar"/>
    </form>
</body>
</html>
