<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
    <!--Traigo el  Fragmento del head-->

    <head th:replace="@{/fragments/head} :: head"></head>

    <body>
        <nav th:replace="@{/fragments/navbar} :: nav"></nav>

        <div class="container-fluid m-5 contenedor">

            <form class="formulario" action="/job/crearJobPrueba" method="POST" enctype="multipart/form-data">
                <!<!-- manejo mensaje de errores  -->
                <div th:replace="@{/fragments/thmsg} :: div"></div>
                <!--Double cost, String description, Long idSkill, Long idUser, Long idProvider-->
                <div class="form-group my-3">
                    <label class="mb-2">Costo</label> 
                    <input type="number" class="form-control" name="cost" placeholder="Costo ponderado" required="true">
                </div>
                <div class="form-group my-3">
                    <label class="mb-2">Descripcion</label> 
                    <input type="text" class="form-control" name="description" placeholder="Cargue una breve descripcion del trabajo" required="true">
                </div>

                <div class="form-group my-3">

                    <select name="idSkill" required="true">

                        <option value="" disabled selected>Seleccionar Skill</option>

                        <option th:each="skill : ${skills}"
                                th:if="${skill.active}"
                                th:value="${skill.id}"
                                th:text="${skill.name}"
                                />
                    </select>
                </div>
                <div class="form-group my-3">
                    <select name="idUser" required="true">  
                        <option value="" disabled selected >Seleccionar Cliente</option>
                        <option th:each="appUser : ${appUsers}"
                                th:value="${appUser.id}" 
                                th:text="${appUser.name}"
                                />
                    </select>
                </div>
                <div class="form-group my-3">
                    <select name="idProvider" required="true">  
                        <option value="" disabled selected >Seleccionar Proveedor</option>
                        <option th:each="provider : ${providers}"
                                th:value="${provider.id}" 
                                th:text="${provider.name}"
                                />
                    </select>
                </div>
                <button type="submit" class="btn btn-primary mt-3 botones">Enviar</button>
            </form>
        </div>
        <footer th:replace="@{/fragments/footer} :: footer"></footer>
    </body>
</html>