<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<!--Traigo el  Fragmento del head-->

<head th:replace="@{/fragments/head} :: head"></head>


<body class="d-flex flex-column min-vh-100 bodyCreateJob mb-5">
  <nav th:replace="@{/fragments/navbar} :: nav"></nav>
  
  
  <div th:if="${exito}" class="alert alert-success text-center">
    <p th:text="${exito}"></p>
</div>

<!-- manejo mensaje de errores -->
<div th:if="${error}" class="alert alert-danger text-center">
    <p th:text="${error}"></p>
</div>


  <main class="container flex-grow-1 mb-4">
    <div class="row justify-content-center pt-3 mt-3 m-1">
      <div class="col-10 col-md-8 col-sm-11 col-xl-5 col-lg-6 formularioCreateJob bg-color">
        <div class="form-group text-center">
          <a class="logo-color fs-5 text-decoration-none">
            <span class="text-color">Match</span>
            <img th:src="@{../../img/alicates.png}" alt="" class="icono" width="20em">
            Service
          </a>
        </div>

      <form class="" th:action="@{'/job/create/' + ${idProvider}}" method="POST" enctype="multipart/form-data">
          
          <div class="form-group text-center pt-2">
              <h4 class="text-white" > SOLICITUD DE TRABAJO </h4>


          </div>
          <!-- manejo mensaje de errores -->
          <div th:replace="@{/fragments/thmsg} :: div"></div>

          <!-- DESCRIPCION SI ES USUARIO PUEDE CARGARLA - SI ES PROVEEDOR PUEDE VERLA -->
          
          
          <div class="form-group mx-sm-4 pt-3 mb-2">
            <!-- <label class="mb-2">Descripcion</label> -->
            <label for="description" class="text-color mb-1 fw-semibold ps-1">Descripción:</label>
            <textarea class="form-control bg-dark text-white" type="text" name="description" placeholder="Cargue una breve descripcion del trabajo que solicita"
    required="true" sec:authorize="hasRole('USUARIO')" rows="5"></textarea>

          </div>

          <div class="form-group mx-sm-4 pt-2 text-white" style="margin-bottom: 20px;">
    <label for="description" class="text-color mb-1 fw-semibold ps-1">Servicio requerido:</label>
    <select name="idSkill" required="true" class="form-control bg-dark text-white" placeholder="Seleccionar servicio que se requiere">
        <option value="" disabled selected>Seleccionar servicio que se requiere</option>
        <option th:each="skill : ${skills}" th:if="${skill.active}" th:value="${skill.id}" th:text="${skill.name}"></option>
    </select>
</div>

<!-- CLIENTE: SE APLICA EL CLIENTE LOGUEADO en modo hidden -->
<input class="form-control" type="number" id="client" name="idClient" th:if="${client != null}" th:value="${client.getId()}" hidden>
<input class="form-control" type="number" id="provider" name="idProvider" th:value="${provider.getId()}" hidden>


<!-- ENVIAR CREAR EL TRABAJO SOLICITADO -->
<div class="form-group mx-sm text-rigth text-center pb-4">
    <button type="submit" class="btn text-white btn-md btnbuscar">Registrar</button>
</div>

 <section class=" text-center container">
                <div class="row mt-3">
                    <div class="divVolver">
                        <a th:href="@{/user/providers}" class="btn btn-secondary my-2 botonVolver botones">Volver</a>
                    </div>
                </div>
            </section>

              
               </div>
        </form>
      </div>
    </div>
  </main>

  <footer th:replace="@{/fragments/footer} :: footer"></footer>
</body>

</html>