<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<!--Traigo el  Fragmento del head-->

<head th:replace="@{/fragments/head} :: head"></head>


<body class="d-flex flex-column min-vh-100 bodyCreateJob mb-5">

  <nav th:replace="@{/fragments/navbar} :: nav"></nav>

  <main class="container flex-grow-1 mb-4">
    <div class="row justify-content-center pt-3 mt-3 m-1">
      <div class="col-10 col-md-8 col-sm-11 col-xl-5 col-lg-6 formularioCreateJob bg-color">
        <div class="form-group text-center">
          <a class="logo-color fs-5 text-decoration-none">
            <span class="text-color">Match</span>
            <img th:src="@{../../img/alicates.png}" alt="" class="icono" width="20em">
            Service
          </a>
        </div>

        <form class="" action="/job/crearJobPrueba" method="POST" enctype="multipart/form-data">
          <div class="form-group text-center pt-2">
            <h4 class="text-white">SOLICITAR TRABAJO</h4>
          </div>
          <!-- manejo mensaje de errores -->
          <div th:replace="@{/fragments/thmsg} :: div"></div>

          <!-- DESCRIPCION SI ES USUARIO PUEDE CARGARLA - SI ES PROVEEDOR PUEDE VERLA -->
          <div class="form-group mx-sm-4 pt-3 mb-2">
            <!-- <label class="mb-2">Descripcion</label> -->
            <label for="description" class="text-color mb-1 fw-semibold ps-1">Descripción:</label>
            <textarea class="form-control bg-dark text-white" type="text" name="description" placeholder="Cargue una breve descripcion del trabajo que solicita"
              required="true" sec:authorize="hasRole('USUARIO')" rows="5"></textarea>
          </div>

          <!--Double cost, String description, Long idSkill, Long idUser, Long idProvider-->
          <!-- ESTO IRÍA EL A VISTA DEL PROVEEDOR -->
          <div class="form-group mx-sm-4 text-rigth pt-4 text-center"> -->
            <label class="mb-2">Costo</label>
            <input type="number" class="form-control bg-dark  text-white" name="cost" placeholder="Costo ponderado" required="true">
          </div>

          <div class="form-group mx-sm-4 pt-2 text-white">
            <label for="description" class="text-color mb-1 fw-semibold ps-1">Servicio requerido:</label>
            <select name="idSkill" required="true" class="form-control bg-dark text-white" placeholder="Seleccionar servicio que se requiere">
              <option value="" disabled selected>Sleccionar servicio que se requiere</option>
              <option th:each="skill : ${skills}" th:if="${skill.active}" th:value="${skill.id}" th:text="${skill.name}"></option>
            </select>
          </div>

          <!-- CLIENTE: SE APLICA EL CLIENTE LOGUEADO en modo hidden -->
          <input class="form-control" type="text" id="cliente" name="cliente" th:value="${session.usuariosession.id}" hidden>
          <!-- <div class="form-group mx-sm-4 text-white pt-4 fw-semibold text-center">
            <select name="idUser" required="true" class="form-control mb-2 bg-dark text-white">
              <option value="" disabled selected>Seleccionar Cliente</option>
              <option th:each="appUser : ${appUsers}" th:value="${appUser.id}" th:text="${appUser.name}" />
            </select>
          </div> -->

          <!-- POVEEDOR debería enviarse como el cliente-->
          <div class="form-group mx-sm-4 pt-1 text-white">
            <label for="description" class="text-color mb-1 fw-semibold ps-1">Proveedor:</label>
            <select name="idProvider" required="true" class="form-control mb-4 bg-dark text-white">
              <option value="" disabled selected>Seleccionar Proveedor</option>
              <option th:each="provider : ${providers}" th:value="${provider.id}" th:text="${provider.name}" />
            </select>
          </div>

          <!-- ENVIAR CREAR EL TRABAJO SOLICITADO -->
          <div class="form-group mx-sm-4 text-rigth text-center pb-4">
            <button type="submit" class="btn btnOrigin text-white btn-md">Registrar</button>
          </div>
        </form>
      </div>
    </div>
  </main>

  <footer th:replace="@{/fragments/footer} :: footer"></footer>
</body>

<!-- <body>
        <nav th:replace="@{/fragments/navbar} :: nav"></nav>

        <div class="container-fluid m-5 contenedor">

            <form class="formulario" action="/job/crearJobPrueba" method="POST" enctype="multipart/form-data"> -->
<!-- manejo mensaje de errores  -->
<!-- <div th:replace="@{/fragments/thmsg} :: div"></div> -->
<!--Double cost, String description, Long idSkill, Long idUser, Long idProvider-->
<!-- <div class="form-group my-3">
                    <label class="mb-2">Costo</label> 
                    <input type="number" class="form-control" name="cost" placeholder="Costo ponderado" required="true">
                </div>
                <div class="form-group my-3">
                    <label class="mb-2">Descripcion</label> 
                    <input type="text" class="form-control" name="description" placeholder="Cargue una breve descripcion del trabajo" required="true">
                </div>

                <div class="form-group my-3">

                    <select name="idSkill" required="true">

                        <option value="" disabled selected>Seleccionar Skill</option>

                        <option th:each="skill : ${skills}"
                                th:if="${skill.active}"
                                th:value="${skill.id}"
                                th:text="${skill.name}"
                                />
                    </select>
                </div>
                <div class="form-group my-3">
                    <select name="idUser" required="true">  
                        <option value="" disabled selected >Seleccionar Cliente</option>
                        <option th:each="appUser : ${appUsers}"
                                th:value="${appUser.id}" 
                                th:text="${appUser.name}"
                                />
                    </select>
                </div>
                <div class="form-group my-3">
                    <select name="idProvider" required="true">  
                        <option value="" disabled selected >Seleccionar Proveedor</option>
                        <option th:each="provider : ${providers}"
                                th:value="${provider.id}" 
                                th:text="${provider.name}"
                                />
                    </select>
                </div>
                <button type="submit" class="btn btn-primary mt-3 botones">Enviar</button>
            </form>
        </div>
        <footer th:replace="@{/fragments/footer} :: footer"></footer>
    </body>  -->

</html>