<!-- formulario-edicion-cliente.html -->
<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editar Cliente</title>
</head>
<body>
    <h1>Editar Proveedor</h1>
    <form id="providerForm" action="/provider/modify"
          method="post" th:object="${providerUser}"
          enctype="multipart/form-data">
        <input type="hidden" th:field="*{id}" />
        <input type="text" th:field="*{name}" placeholder="Nombre"/>
        <input type="text" th:field="*{email}" placeholder="Email"/>
        <input type="password" th:field="*{password}" placeholder="Contraseña"/>
        <input type="number" name="whatsApp" class="form-control bg-dark text-white fw-semibold"
               placeholder="WhatsApp">
        <label for="image" class="mb-2 fw-semibold fs-5">Foto de Perfil</label>
        <input type="file" accept="image/*"
               th:field="*{imagenFile}" id="image" name="imagen" class="form-control bg-dark text-white"
               onchange="previewImage(event)">
        <img id="preview" src="" alt="Image Preview" style="max-width: 200px; max-height: 200px; display: none;">
        <input type="submit" value="Guardar"/>
    </form>
</body>
</html>
