<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="en">

<head th:replace="@{/fragments/head} :: head"></head>


<body class="d-flex flex-column min-vh-100 bodyActualizarOficio">
    <nav th:replace="@{/fragments/navbar} :: nav"></nav>
    <main class="container flex-grow-1 fondo-main">
      <div class="row justify-content-center pt-5 mt-5 m-1">
        <div class="col-10 col-md-8 col-sm-11 col-xl-5 col-lg-6 formularioActualizarOficio bg-color">
          <div class="form-group text-center mb-3 mt-4">
            <a class="logo-color fs-4 text-decoration-none">
              <span class="text-color">Match</span>
              <img src="images/alicates.png" alt="" class="icono" width="30em">
              Service
            </a>
          </div>
          <form class="" th:action="@{/skill/modify/__${skill.id}__}" method="POST">
            <input hidden name="id" th:value="${id}">
            <div class="form-group text-center pt-0">
              <label for="skillName" class="text-white fs-3"><h1 class="fs-2">Actualizar nombre del oficio:</h1></label>
            </div>
            <div class="form-group mx-sm-4 text-rigth pt-3 text-center">
              <input class="form-control bg-dark text-white fw-semibold" type="text" id="skillName" name="name"
                th:value="${skill.name}" placeholder="Ingrese el nombre del oficio a cambiar...">
              <div class="form-check form-check-inline text-white me-4 pt-3">
                <input class="form-check-input" type="radio" name="active" id="active" value="true" checked>
                <label class="form-check-label" for="active">
                  Alta
                </label>
              </div>
              <div class="form-check form-check-inline text-white">
                <input class="form-check-input" type="radio" name="active" id="inactive" value="false">
                <label class="form-check-label" for="inactive">
                  Baja
                </label>
              </div>
            </div>
            <div class="form-group mx-sm-4 text-rigth pt-2 text-center">
              <button class="btn btnOrigin mt-3" type="submit">
                Actualizar
              </button>
            </div>
          </form>
        </div>
      </div>
      <!-- FRAGMENT MENSAJES DE ERROR O ÉXITO THYMELEAF RECIBIDOS DE CONTROLADOR -->
      <div th:fragment="${/fragments/thmsg} :: div"></div>
    </main>
    <footer th:replace="@{/fragments/footer} :: footer"></footer>
  </body>

  
<!-- <body class="bg-dark ">

    <nav th:replace="@{/fragments/navbar} :: nav"></nav>
    <main class="container justify-content-center">

        <div class="container d-flex justify-content-center">
            <form class="formulario" th:action="@{/skill/modify/__${skill.id}__}" method="POST">

                <div class="row">

                    <input hidden name="id" th:value="${id}">

                    <label for="skillName" class="text-color">Actualizar nombre del oficio:</label>
                    <input class="form-control" type="text" id="skillName" name="name" th:value="${skill.name}">
                    <div class="justify-content-center d-flex">
                        <div class="form-check text-white me-4">
                            <input class="form-check-input" type="radio" name="active" id="active" value="true" checked>
                            <label class="form-check-label" for="active">
                                Alta
                            </label>
                        </div>
                        <div class="form-check text-white">
                            <input class="form-check-input" type="radio" name="active" id="active" value="false">
                            <label class="form-check-label" for="active">
                                Baja
                            </label>
                        </div>
                    </div>
                    <button class="btn btnOrigin btn-primary mt-3 botones" type="submit">
                        Actualizar </button>
            </form>
        </div>
        <!-- FRAGMENT MENSAJES DE ERROR O ÉXITO THYMELEAF RECIBIDOS DE CONTROLADOR -->
        <div th:fragment="${/fragments/thmsg} :: div"></div>

    </main>
    <footer th:replace="@{/fragments/footer} :: footer"></footer>
</body> -->

</html>